<app-header-overview (newAppointmentId)="newAppointment($event)"
  (dayDateSelected)="dayDateSelected($event)"></app-header-overview>


<div class="dayoverview">
  <div class="day-header" [ngStyle]="{'grid-template-columns': widthTimeColumn + 'px ' + widthPerDay + 'px'}">
    <div class="weeknumber">
      week {{ weeknumber }}
    </div>
    <div class="date">
      {{ this.getDateName(day.date) }}
    </div>
  </div>

  <div #daygridScroll class="day-grid"
    [ngStyle]="{'grid-template-columns': widthTimeColumn + 'px ' + widthPerDay + 'px'}">

    <div class="timeColumn">
      <div *ngFor="let time of times; let isLast=last" class="time-cell" [ngStyle]="{'height.px': heightPerHour}">
        <div class="time"> {{ time }}</div>
        <div class="divider" [ngStyle]="{'height.px': dividerHeight}"></div>
        <div class="longDivider" [ngStyle]="{'height.px': dividerHeight}"></div>
        <div class="divider" [ngStyle]="{'height.px': dividerHeight}"></div>
      </div>
    </div>
    <div class="day-cell">
      <div *ngFor="let time of times; let i = index; let isLast=last" class="daylines">
        <div class="lines" [ngStyle]="{'top.px': (i) * heightPerHour, 'width.px': widthPerDay }">
        </div>
        <div class="active" [ngStyle]="{'top.px': getActivePosition(), 'width.px': widthPerDay}">
        </div>
      </div>

      <div class="appointments">
        <div *ngFor="let displayAppo of this.day?.displayAppointments" [ngStyle]="getTaskStyle(displayAppo)" class="appointment"
        matTooltip="{{getAppointment(displayAppo.appointmentid).description}}">
          <ng-container *ngIf="displayAppo.date === day.date && !displayAppo.isAllDay">
            <div class="appointmentTime">
              <div class="categoryColor" [ngStyle]="{'background-color': getAppointment(displayAppo.appointmentid).category.color}">
              </div>
              <div class="cardContent" (click)="openDetails(displayAppo)" [ngStyle]="{'margin-top': (!displayAppo.isAllDay && displayAppo.starttime == '00:00:00') ? (getNumberOfWholeDayAppointments(day) * 35) + 10 + 'px' : 0}">
                <div class="category" [ngStyle]="{'color': getAppointment(displayAppo.appointmentid).category.color}"
                  *ngIf="ShowCategory(displayAppo)">
                  {{ getAppointment(displayAppo.appointmentid).category.term }}
                </div>
                <div class="title">
                  {{ getAppointment(displayAppo.appointmentid).title }}
                </div>
                <div class="time">
                  {{ getFormattedTime(getAppointment(displayAppo.appointmentid).starttime) }} - {{ getFormattedTime(getAppointment(displayAppo.appointmentid).endtime) }}
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="displayAppo.date === day.date && displayAppo.isAllDay">
            <div class="appointmentWholeDay">
              <div class="categoryColor" [ngStyle]="{'background-color': getAppointment(displayAppo.appointmentid).category.color}">
              </div>
              <div class="cardContent" (click)="openDetails(displayAppo)">
                <div class="title">
                  {{ getAppointment(displayAppo.appointmentid).title }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

</div>
