<div class="popup">
  <i mat-dialog-close class="fas fa-2x fa-times closedialogbutton" matTooltip="Sluiten"></i>
  <div class="content">
    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-calendar fa-2x"></i>
      </div>
      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>Title</mat-label>
          <input matInput [value]="NewAppointment.title" type="text" [(ngModel)]="NewAppointment.title">
        </mat-form-field>
      </div>
    </div>

    <div class="divider"></div>

    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-align-left fa-2x"></i>
      </div>
      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <textarea matInput [value]="NewAppointment.description" [(ngModel)]="NewAppointment.description">
          </textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="divider"></div>

    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-calendar fa-2x"></i>
      </div>
      <div class="input">
        <div class="date">
          <mat-form-field class="full-width">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)" [(ngModel)]="NewAppointment.date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="item noAlignBaseline marginbottom">
      <div class="icon">
        <i class="fa-solid fa-clock fa-2x"></i>
      </div>
      <div class="timeinput">
        <div class="time">
          <div class="begintime">
            <input placeholder="Begin" aria-label="Begin" [ngxTimepicker]="begin" [format]="24" readonly (ngModelChange)="changeTime($event, true)" [disabled]="NewAppointment.isAllDay"
              [(ngModel)]="NewAppointment.starttime">
            <ngx-material-timepicker
            [timepickerClass]="'timepicker__customCSS'"
            #begin></ngx-material-timepicker>
          </div>
          <div class="endtime">
            <input placeholder="End" aria-label="End" [ngxTimepicker]="end" [format]="24" readonly (ngModelChange)="changeTime($event, false)" [disabled]="NewAppointment.isAllDay"
              [(ngModel)]="NewAppointment.endtime">
            <ngx-material-timepicker
            [timepickerClass]="'timepicker__customCSS'"
            #end></ngx-material-timepicker>
          </div>
        </div>

        <mat-checkbox [(ngModel)]="NewAppointment.isAllDay" color="primary">Whole Day</mat-checkbox>
      </div>
    </div>

    <div class="divider"></div>

    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-map-marker fa-2x"></i>
      </div>
      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>Location</mat-label>
          <input matInput [formControl]="locationControl" type="text" [(ngModel)]="NewAppointment.location" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let location of filteredLocations | async" [value]="location">
              {{ location }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="divider"></div>

    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-tags fa-2x"></i>
      </div>
      <div class="input">
        <mat-form-field class="full-width">
          <mat-label>Category</mat-label>
          <mat-select (selectionChange)="categoryChange($event)" [value]="NewAppointment.category.term">
            <mat-option *ngFor="let category of categories" [value]="category.term">
              {{category.term}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="footer buttons right">
      <button mat-button class="mat-button neg" type="button" (click)="cancel()">
        <i class="fa-solid fa-xmark fa-xl"></i>
      </button>
      <button mat-button class="mat-button" type="submit" (click)="createAppointment()" [disabled]="!canCreateAppointment()" [ngClass]="{'pos': canCreateAppointment(), 'neg': !canCreateAppointment()}">
        <i class="fa-solid fa-check fa-xl"></i>
      </button>
    </div>
  </div>
</div>
