.popup {
  border-radius: 10px;
}

.disabled{
  color: var(--gray-lightest2);
}

.content {
  .item {
    display: grid;
    grid-template-columns: 3fr 23fr;
    align-items: baseline;

    &.noAlignBaseline {
      align-items: unset;
    }

    &.marginbottom {
      margin-bottom: 20px;
    }

    .icon {
      padding: 5px;
    }

    .datetimeinput {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;

      mat-checkbox {
        margin-top: -5px;
        margin-bottom: 5px;
      }
    }

    .date {
      mat-form-field {
        width: 200px;
      }
    }

    mat-slide-toggle {
      color: var(--primary-color);
    }

    .time {
      display: grid;
      gap: 5px;

      input {
        background-color: var(--mdc-filled-text-field-container-color);
        border: none;
        border-radius: 4px;
        padding: 10px;
      }

    }
  }

  .divider {
    margin-bottom: 20px;
    // addline with color
    border-top: 1px solid #f3f3f3;
  }
}

@media (max-width: 600px) {
  .timeinput {
    display: flex !important;
    flex-direction: column-reverse;
    gap: 5px;
  }

  .popup {
    padding: 10px 8px !important;
  }
}
