@import '~@fortawesome/fontawesome-free/css/all.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
  // background: radial-gradient(circle at bottom left, rgb(224, 0, 176),rgb(0, 0, 180));
  background: radial-gradient(circle at bottom left, rgb(100, 6, 52),#020b1c);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.popup {
  position: relative;
  min-width: 450px;
  height: 100%;
  max-height: 90vh;
  overflow-y: auto;
  padding: 15px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  &.right {
    align-self: flex-end;
    justify-content: flex-end;
  }
}

.mat-button{
  background-color: #F3F3F3;
  color: #333333;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &.pos {
    background-color: #b22234;
    color: white;
  }

  &.neg {
    background-color: #F3F3F3;
    color: #333333;
    font-weight: 100;
  }


}
