.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .addTodo {
    margin-bottom: 1rem;
  }

  .weekSelector{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .loader{
      margin: 10px 20px 0 0;
    }
  }
}

.todoRow {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  .dayTasks {
    display: flex;
    flex-direction: column;
    background-color: #434447;
    padding: 0.5rem;
    border-radius: 5px;
    gap: 0.5rem;


    .day {
      padding: 6px 12px;
      min-width: 100px;
      text-align: center;
      background-color: #d6d6d6;
      font-size: x-large;
    }

    .placeholder {
      background: #424242;
      border: dotted 3px #999;
      min-height: 60px;
    }

    .todo {
      .card {
        max-width: 300px;
        background-color: #d6d6d6;
        cursor: pointer;

        p {
          font-size: 14px;
          margin: 0;
          white-space: pre-line;
        }

        mat-card-header {
          padding: 8px 12px 0;
        }

        mat-card-content {
          padding: 4px 12px 12px 12px;
          text-align: left;
        }
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
