<div class="addTodo">
  <button mat-button class="mat-button pos" (click)="openCardCreate()">
    <i class="fa-solid fa-plus fa-xl"></i>
    Create todo
  </button>
</div>

<div class="todoRow">
  <div *ngFor="let day of Todolist; let i = index"
       [id]="day.day + 'List'"
       cdkDropList
       [cdkDropListData]="day.tasks"
       [cdkDropListConnectedTo]="connectedLists"
       class="dayTasks"
       (cdkDropListDropped)="drop($event)">

    <div class="day">
      {{day.day}}
    </div>

    <div *ngFor="let task of day.tasks" cdkDrag class="todo">
      <div class="placeholder" *cdkDragPlaceholder></div>
      <mat-card class="card" (click)="openCardInfo(task)">
        <mat-card-header>
          <mat-card-title>{{task.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{task.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
