<div class="header">
  <div class="displayflex">
    <div class="datepicker">
      <app-weekselector class="header-datepicker" (onDateSelected)="handleDateRangeSelection($event)"
        *ngIf="isActiveView('/week')"></app-weekselector>
      <app-monthselector class="header-datepicker" (onDateSelected)="handleMonthSelection($event)"
        *ngIf="isActiveView('/month')"></app-monthselector>
      <app-dayselector class="header-datepicker" (onDateSelected)="handleDateSelection($event)"
        *ngIf="isActiveView('/day')"></app-dayselector>
    </div>
    <div class="filterCategory">
      <mat-form-field class="dark-theme">
        <mat-label>Category</mat-label>
        <mat-select (selectionChange)="toggleCategory($event)" multiple>
          <mat-option *ngFor="let category of categories" [value]="category">
            <ngx-colors ngx-colors-trigger style="float: left" [(ngModel)]="category.color"
            [disabled]="true">
            </ngx-colors>
            {{category.term}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="other">
    <div class="switchDayWeekMonth">
      <div class="option" (click)="navigateTo('/overview/day')">
        <div class="text"> DAY </div>
        <div class="underlineActive" [ngStyle]="{'background-color': isActiveView('/day') ? '#00C9C8' : 'transparent'}">
        </div>
      </div>
      <div class="divider">
      </div>
      <div class="option" (click)="navigateTo('/overview/week')">
        <div class="text"> WEEK </div>
        <div class="underlineActive"
          [ngStyle]="{'background-color': isActiveView('/week') ? '#00C9C8' : 'transparent'}">
        </div>
      </div>
      <div class="divider">
      </div>
      <div class="option" (click)="navigateTo('/overview/month')">
        <div class="text"> MONTH </div>
        <div class="underlineActive"
          [ngStyle]="{'background-color': isActiveView('/month') ? '#00C9C8' : 'transparent'}">
        </div>
      </div>
    </div>

    <div class="buttonCreate" (click)="openCreateAppointment()">
      <div class="icontainer">
        <div class="icon">
          <i class="fa-regular fa-circle fa-2x"></i>
          <i class="fa-solid fa-plus plus"></i>
        </div>
      </div>
      <div class="text"> APPOINTMENT </div>
    </div>

    <div class="buttonCreate" (click)="openICSupload()">
      <div class="icontainer">
        <div class="icon margin-sides">
          <i class="fa-solid fa-upload bigicon"></i>
        </div>
      </div>
      <div class="text"> ICS Upload </div>
    </div>
  </div>

</div>
