<div class="app">
  <div class="sidenavbar">
    <div class="icon" [ngStyle]="{'background-color': isActive('/', true)}" (click)="navigateTo('/')">
      <img src="assets/icons/overview.svg" alt="overview" class="groupicon">
    </div>
    <div class="icon" [ngStyle]="{'background-color': isActive('/overview', false)}" (click)="navigateTo('/overview/week')">
      <i class="fa-solid fa-2x fa-calendar-week"></i>
    </div>
    <div class="icon" [ngStyle]="{'background-color': isActive('/todos', true)}" (click)="navigateTo('/todos')">
      <i class="fa-solid fa-2x fa-clipboard-list"></i>
    </div>
    <div class="icon" [ngStyle]="{'background-color': isActive('/family', true)}" (click)="navigateTo('/family')">
      <i class="fa-solid fa-2x fa-house-user"></i>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
