.page {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1vh;
  justify-content: center;

  .information {
    display: flex;
    flex-direction: column;
    min-width: 20vw;
    gap: 1rem;

    .weather {
      padding: 1rem;
      border: 1px solid black;
      background-color: #2b2d31;
      border-radius: 20px;
    }

    .agenda {
      padding: 1rem;
      border: 1px solid black;
      background-color: #2b2d31;
      border-radius: 20px;
    }
  }

  .todo {
    padding: 1rem;
    border: 1px solid black;
    background-color: #2b2d31;
    border-radius: 20px;
    min-width: 65vw;
    overflow-y: auto;
  }
}
