.todo {
  padding: 1rem;
  overflow-y: auto;
  max-height: 94vh;
}

@media (max-width: 1000px) {
  .todo {
    max-height: 100vh !important;
  }

  .card {
    padding: 0px !important;
    border: 0px !important;
    background-color: transparent !important;
    border-radius: 0px !important;
  }
}


.app{
  display: grid;
  grid-template-columns: 1.1fr 34fr;
  height: 100%;

  .sidenavbar{
    background-color: #252525;
    overflow-y: auto;
  }
  .container{
    margin: 1rem;
  }
}
