.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .addTodo {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem
  }

  .weekSelector {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .loader {
      margin: 10px 20px 0 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    .addTodo {
      display: grid;
      justify-items: stretch;
      grid-template-columns: 1fr 1fr;
      column-gap: 7px;
      row-gap: 7px;
      width: 100%;
    }
  }
}

.container {
  // make that the container is the (height - header) - 3 rem (footer)
  // display: flex;
  // flex-direction: column;
  // gap: 1rem;
  // padding: 0 1rem;
  // overflow-x: scroll;
}

.todoRow {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;

  .dayTasks {
    display: flex;
    flex-direction: column;
    background-color: #434447;
    padding: 0.5rem;
    border-radius: 5px;
    gap: 0.5rem;

    .day {
      padding: 6px 12px;
      min-width: 100px;
      text-align: center;
      background-color: #d6d6d6;

      .name{
        font-size: x-large;
      }

      .checkedCount{
        margin: 0;
      }
    }

    .placeholder {
      background: #424242;
      border: dotted 3px #999;
      min-height: 60px;
    }

    .todo {
      .card {
        max-width: 300px;
        background-color: #d6d6d6;
        cursor: pointer;

        p {
          font-size: 14px;
          margin: 0;
          white-space: pre-line;
        }

        mat-card-header {
          padding: 8px 12px 0;
        }

        mat-card-content {
          padding: 4px 12px 12px 12px;
          text-align: left;
        }
      }
    }
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@media (max-width: 768px) {
  .todoRow {
    flex-direction: column;
    gap: 1rem;

    .card {
      max-width: none !important;
    }
  }

  app-weekselector,
  .weekSelector {
    width: 100%;
  }
}
