<form *ngIf="loginMode" class="center">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter your username" required [(ngModel)]="username" name="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" required
      [(ngModel)]="password" name="password">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div class="buttons right">
    <button mat-button class="mat-button neg" (click)="loginMode = false">Register</button>
    <button mat-button class="mat-button pos" (click)="login()">Login</button>
  </div>
</form>

<form *ngIf="!loginMode" class="center">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Enter your username" required [(ngModel)]="username" name="username">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" required [(ngModel)]="email" name="email">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" required
      [(ngModel)]="password" name="password">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div class="buttons right">
    <button mat-button class="mat-button neg" (click)="loginMode = true">Go back to login</button>
    <button mat-button class="mat-button pos" (click)="register()">Register</button>
  </div>
</form>
