<app-header-overview (newAppointmentId)="newAppointment($event)"
  (monthSelected)="monthSelected($event)"></app-header-overview>

<div class="calendar">
  <!-- Static header for day names -->

  <div class="calendar-week-number-empty"></div> <!-- Placeholder for alignment with week numbers -->
  <div class="calendar-day-name">Zondag</div>
  <div class="calendar-day-name">Maandag</div>
  <div class="calendar-day-name">Dinsdag</div>
  <div class="calendar-day-name">Woensdag</div>
  <div class="calendar-day-name">Donderdag</div>
  <div class="calendar-day-name">Vrijdag</div>
  <div class="calendar-day-name">Zaterdag</div>


  <ng-container *ngFor="let week of monthView; let weekIndex = index">

    <div class="calendar-week-number">{{ week.weeknumber }}</div>

    <ng-container *ngFor="let day of week.days; let dayIndex = index">

      <div class="calendar-day" [id]="'week'+ weekIndex + 'day'+ dayIndex"
        [ngClass]="{
           'today': day.date.toDateString() === today.toDateString(),
           'InSelectedMonth': day.isInSelectedMonth,
           'NotInSelectedMonth': !day.isInSelectedMonth
           }">

        <div class="date-indicator">
          {{ day.date | date: 'd' }}
          <ng-container *ngIf="!day.isInSelectedMonth">
            {{ day.date | date: 'MMM' }}
          </ng-container>
        </div>

        <div class="events-container" *ngIf="day.appointments">
          <div *ngFor="let appointment of day.appointments" class="event" (click)="openDetails(appointment)"
          matTooltip="{{appointment.description}}">
            <div class="categoryColor" [ngStyle]="{'background-color': appointment.category.color}"></div>
            <div class="eventContent" *ngIf="appointment.isAllDay">{{ appointment.title }}</div>
            <div class="eventContent" *ngIf="!appointment.isAllDay">{{formatTime(appointment.starttime)}} - {{ appointment.title }}</div>
          </div>
        </div>

      </div>

    </ng-container>

  </ng-container>
</div>
