<app-header-overview (newAppointmentId)="newAppointment($event)"></app-header-overview>

<div class="calendar">
  <!-- Static header for day names -->

  <div class="calendar-week-number-empty"></div> <!-- Placeholder for alignment with week numbers -->
  <div class="calendar-day-name">Zondag</div>
  <div class="calendar-day-name">Maandag</div>
  <div class="calendar-day-name">Dinsdag</div>
  <div class="calendar-day-name">Woensdag</div>
  <div class="calendar-day-name">Donderdag</div>
  <div class="calendar-day-name">Vrijdag</div>
  <div class="calendar-day-name">Zaterdag</div>


  <ng-container *ngFor="let week of monthView; let weekIndex = index">
    <div class="calendar-week-number">{{ week.weeknumber }}</div>
    <ng-container *ngFor="let day of week.days; let dayIndex = index">
      <div class="calendar-day" [id]="'week'+ weekIndex + 'day'+ dayIndex" cdkDropList
        [ngClass]="{ 'today': day.date.toDateString() === today.toDateString() }"
        [cdkDropListData]="day.events || []" [cdkDropListConnectedTo]="getConnectedList(monthView)"
        (cdkDropListDropped)="drop($event, weekIndex, dayIndex)">
        <div class="date-indicator">{{ day.date | date: 'd' }}</div>
        <div class="events-container" *ngIf="day.events">
          <div *ngFor="let event of day.events" cdkDrag class="event" (click)="openCardInfo(event)">
            <div class="event-title">{{ event.id }} - <strong>{{ event.title }}</strong></div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
