.header {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  .other {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;

    .actionButton {
      background-color: var(--gray);
      height: 49px;
      border-radius: 10px;
      cursor: pointer;

      column-gap: 15px;
      padding: 0 15px;

      display: flex;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: var(--aquablue);
        }

        .plus {
          font-size: 20px;
          position: absolute;
        }
      }

      .text {
        font-weight: 500;
        color: white;
      }
    }
  }
}

.todoRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 0.75rem;

  .dayTasks {
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    padding: 0.5rem;
    border-radius: 5px;
    gap: 0.5rem;

    .day {
      padding: 6px 0px;
      min-width: 100px;
      text-align: center;
      background-color: var(--gray-light);
      color: white;

      .name {
        font-size: x-large;
      }

      .checkedCount {
        margin: 0;
      }
    }

    .placeholder {
      background: #424242;
      border: dotted 3px #999;
      min-height: 40px;
      margin: 4px 0px;
    }

    .todo {
      .card {
        background: var(--gray-light);
        cursor: pointer;
        padding: 7px 8px;
        border-radius: 4px;

        .title {
          h3 {
            margin: 0 0 0.3rem 0;
            font-weight: 500;
            font-size: 18px;
            color: white;
          }

          .removeMargins{
            margin: 0;
          }
        }

        .description {
          p {
            font-size: 15px;
            margin: 0;
            white-space: pre-line;
            color: white;
          }
        }
      }
    }
  }
}

// This is the preview of the card when dragging
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);

  .card {
    margin-top: 0.5rem;
    background-color: #d6d6d6;
    background: #d6d6d6;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;

    .title {
      h3 {
        margin: 0;
        font-weight: 600;
        font-size: medium;
      }
    }

    .description {
      p {
        font-size: small;
        margin: 0;
        white-space: pre-line;
      }
    }
  }
}
