<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect any requests for actual files or directories to avoid interference
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirect all other requests to the index.html file
  RewriteRule ^ index.html [L]
</IfModule>
