mat-form-field {
  width: 100%;
}

.webcallurl {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .item {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--gray-light);

    .item2{
      background-color: var(--gray-lighter);
      margin-bottom: 10px;

      .newItemFormfields{
        display: grid;
        grid-template-columns: 4fr 1fr;
        gap: 10px;
      }
    }

    .buttons{
      margin-top: -15px;
    }

    .changePassword{
      margin-bottom: 15px;
    }

    h2{
      margin: 0;
      font-weight: 500;
    }
    p{
      margin: 0;
      word-break: break-all;
    }
  }
}
