mat-form-field {
  width: 100%;
}

.webcallurl {
  margin-bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .item {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--lightgray);

    .buttons{
      margin-top: 15px;
    }

    .changePassword{
      margin-bottom: 15px;
    }

    h2{
      margin: 0;
      font-weight: 500;
    }
    p{
      margin: 0;
    }
  }
}
