<div class="content">
  <div class="item">
    <h2>Username</h2>
    <p>{{userdata?.username}}</p>
  </div>

  <div class="item">
    <h2>Email</h2>
    <p>{{userdata?.email}}</p>
  </div>

  <!-- <div class="item webcallurl">
    <ng-container *ngIf="userdata?.webcallurl != ''">
      <h2>Webcall URL</h2>
      <p>{{userdata?.webcallurl}}</p>
    </ng-container>

    <mat-form-field *ngIf="userdata?.webcallurl == '' || webcallurlSet">
      <mat-label>Webcall URL</mat-label>
      <input matInput placeholder="webcal://che.myx.nl/api/InternetCalendar/feed/xxxtokenxxx/xxxtokenxxx"
        [(ngModel)]="setWebcallurl">
    </mat-form-field>


    <div class="buttons">
      <button mat-button class="mat-button pos" (click)="syncWebcall()" [disabled]="!canSyncWebcall()">
        <i class="fa-solid fa-sync"></i>
        Sync webcall
      </button>
      <button mat-button class="mat-button info" disabled *ngIf="userdata?.webcalllastsynced">
        Last sync: {{userdata?.webcalllastsynced}}
      </button>
      <button mat-button class="mat-button pos" *ngIf="userdata?.webcallurl == ''" (click)="setwebcallurl()">
        <i class="fa-solid fa-cloud-arrow-up"></i>
        Save webcallurl
      </button>
    </div>
  </div> -->

  <div class="ics_imports item">
    <div>
      <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; padding-bottom: 5px;">
        <h2>ICS Import</h2>
        <button (click)="AddNew = !AddNew" mat-button class="mat-button pos" *ngIf="!AddNew">
          <i class="fa-solid fa-plus"></i>
          Add new
        </button>
      </div>

      <ng-container *ngIf="!AddNew">
        <div class="item item2 webcallurl" *ngFor="let ics of userdata?.ics_imports">
          <mat-form-field>
            <mat-label>ICS Import_url</mat-label>
            <input matInput placeholder="webcal://che.myx.nl/api/InternetCalendar/feed/xxxtokenxxx/xxxtokenxxx"
              [(ngModel)]="ics.ics_url" disabled>
          </mat-form-field>
          <div class="buttons">
            <button mat-button class="mat-button pos" (click)="syncWebcall(ics.id)"
              [disabled]="!canSyncWebcall(ics.id)">
              <i class="fa-solid fa-sync"></i>
              Sync webcall
            </button>
            <button mat-button class="mat-button info" disabled *ngIf="ics.ics_last_synced_at" [matTooltip]="ics.ics_last_synced_at">
              Last sync: {{SyncedAgo(ics.ics_last_synced_at)}}
            </button>
            <button mat-button class="mat-button pos" *ngIf="ics.ics_last_synced_at"
              (click)="setwebcallurl(ics.id, '')">
              <i class="fa-solid fa-trash"></i>
              Delete
            </button>
          </div>
        </div>
      </ng-container>

      <div class="item item2 webcallurl" *ngIf="AddNew">
        <mat-form-field>
          <mat-label>New ICS Import_url</mat-label>
          <input matInput placeholder="webcal://che.myx.nl/api/InternetCalendar/feed/xxxtokenxxx/xxxtokenxxx"
            [(ngModel)]="newIcsUrl">
        </mat-form-field>
        <div class="buttons">
          <button mat-button class="mat-button pos" (click)="addNewImport(); AddNew = !AddNew">
            <i class="fa-solid fa-plus"></i>
            Add ICS Import
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <h2 class="changePassword">Change Password</h2>
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input matInput type="password" [(ngModel)]="oldPassword" minlength="1" maxlength="64" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword" minlength="1" maxlength="64" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newRepeatPassword" minlength="1" maxlength="64" required>
    </mat-form-field>
    <button mat-button class="mat-button pos" (click)="changePassword()">
      <i class="fa-solid fa-key"></i>
      Change Password
    </button>
  </div>

  <div class="buttons right">
    <button mat-button class="mat-button pos" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </button>
  </div>
</div>
