<div class="content">
  <div class="item">
    <h2>Username</h2>
    <p>{{userdata?.username}}</p>
  </div>

  <div class="item">
    <h2>Email</h2>
    <p>{{userdata?.email}}</p>
  </div>

  <div class="item webcallurl">
    <ng-container *ngIf="userdata?.webcallurl != ''">
      <h2>Webcall URL</h2>
      <p>{{userdata?.webcallurl}}</p>
    </ng-container>

    <mat-form-field *ngIf="userdata?.webcallurl == '' || webcallurlSet">
      <mat-label>Webcall URL</mat-label>
      <input matInput placeholder="webcal://che.myx.nl/api/InternetCalendar/feed/xxxtokenxxx/xxxtokenxxx"
        [(ngModel)]="setWebcallurl">
    </mat-form-field>


    <div class="buttons">
      <button mat-button class="mat-button pos" (click)="syncWebcall()" [disabled]="!canSyncWebcall()">
        <i class="fa-solid fa-sync"></i>
        Sync webcall
      </button>
      <button mat-button class="mat-button info" disabled *ngIf="userdata?.webcalllastsynced">
        Last sync: {{userdata?.webcalllastsynced}}
      </button>
      <button mat-button class="mat-button pos" *ngIf="userdata?.webcallurl == ''" (click)="setwebcallurl()">
        <i class="fa-solid fa-cloud-arrow-up"></i>
        Save webcallurl
      </button>
    </div>
  </div>

  <div class="item">
    <h2 class="changePassword">Change Password</h2>
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input matInput type="password" [(ngModel)]="oldPassword" minlength="1" maxlength="64" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newPassword" minlength="1" maxlength="64" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat New Password</mat-label>
      <input matInput type="password" [(ngModel)]="newRepeatPassword" minlength="1" maxlength="64" required>
    </mat-form-field>
    <button mat-button class="mat-button pos" (click)="changePassword()">
      <i class="fa-solid fa-key"></i>
      Change Password
    </button>
  </div>

  <div class="buttons right">
    <button mat-button class="mat-button pos" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </button>
  </div>

</div>
