.container {
  --heightHeaderDates: 100px;
  --heightPerHour: 60px;

  .wrapperDates {
    height: var(--heightHeaderDates);
    display: flex;
    justify-content: center;
    align-items: center;

    .dates {
      display: flex;
      overflow-x: scroll; // Enable horizontal scrolling
      overflow-y: hidden; // Disable vertical scrolling
      gap: 10px;
      scrollbar-width: none;

      .date {
        background-color: var(--black);
        color: white;
        border-radius: 15px;

        .today {
          background-color: var(--blue);
          border-radius: 15px;
        }


        .day {
          width: 57px;
          height: 76.5px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          cursor: pointer;

          p {
            margin: 0;
          }

          .underlineActive {
            margin-top: 2px;
            height: 3px;
            width: 50%;
          }
        }
      }
    }
  }

  .swipe-detector {
    position: absolute;
    top: 100px;
    z-index: 1000;
    background: transparent;
  }

  .wrapper {
    background-color: #252525;
    border-radius: 8px;
    padding: 5px;

    .day-grid {
      display: grid;
      overflow-y: scroll;
      height: calc(100vh - var(--heightHeaderDates) - 15px - var(--heightPerHour));
      scrollbar-width: none;
      touch-action: pan-y !important;

      .timeColumn {
        grid-column: 1;

        .time-cell {
          display: grid;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          justify-content: center;

          .divider {
            width: 50%;
            background-color: var(--aquablue);
            border-radius: 20px;
          }

          .longDivider {
            width: 100%;
            background-color: var(--aquablue);
            border-radius: 20px;
          }
        }
      }

      .day-cell {
        .daylines {
          position: relative;

          .lines {
            background-color: var(--background-color);
            position: absolute;
            height: 3px;
          }

          .active {
            background-color: var(--aquablue);
            position: absolute;
            height: 2px;
            z-index: 1;
          }
        }

        .appointments {
          position: relative;

          .appointment {
            position: absolute;
            box-sizing: border-box;
            padding: 0px 2px;
            z-index: 2;

            .appointmentTime {
              color: black;
              background-color: #d6d6d6;
              border-top-right-radius: 10px;
              border-bottom-right-radius: 10px;
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
              height: 100%;
              display: grid;
              grid-template-columns: minmax(5px, 10px) 1fr;
              overflow: scroll;
              scrollbar-width: none;

              .cardContent {
                padding: 5px;
                cursor: pointer;

                .category {
                  font-size: 17px;
                  font-weight: 400;
                  line-height: 16px;
                }

                .title {
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 16px;
                }

                .time {
                  font-size: 17px;
                  font-weight: 400;
                  line-height: 16px;
                }

              }
            }

            .appointmentWholeDay {
              color: black;
              background-color: #d6d6d6;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 10px;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 10px;
              display: grid;
              grid-template-rows: 1fr 4fr;

              .cardContent {
                padding: 5px;
                cursor: pointer;

                .title {
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}
