<div class="container">
  <div class="wrapperDates">
    <div class="dates" #dateScroll>

      <div class="date" (click)="openDayPicker()">
        <div class="day">
          <h3 class="dateNumber withsubtitle">Pick</h3>
          <p class="issubtitle">Date</p>
        </div>
      </div>

      <div class="date" *ngFor="let day of days">
        <div class="day" [ngClass]="{ 'today': day.date === today }" (click)="selectOtherDay(day.date)">
          <h3 class="dateNumber withsubtitle">{{ getDateNumber(day.date) }}</h3>
          <p class="issubtitle">{{ day.day }}</p>
          <div class="underlineActive"
            [ngStyle]="{'background-color': this.day.date == activeDate ? '#00C9C8' : 'transparent'}">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div #daygridScroll class="day-grid" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()"
      [ngStyle]="{'grid-template-columns': widthTimeColumn + 'px ' + widthPerDay + 'px'}">

      <div class="timeColumn" >
        <div *ngFor="let time of times; let isLast=last" class="time-cell" [ngStyle]="{'height.px': heightPerHour}">
          <div class="time"> {{ time }}</div>
          <div class="divider" [ngStyle]="{'height.px': dividerHeight}"></div>
          <div class="longDivider" [ngStyle]="{'height.px': dividerHeight}"></div>
          <div class="divider" [ngStyle]="{'height.px': dividerHeight}"></div>
        </div>
      </div>
      <div class="day-cell" >
        <div *ngFor="let time of times; let i = index; let isLast=last; let isFirst=first" class="daylines">
          <div class="lines" [ngStyle]="{'top.px': (i) * heightPerHour, 'width.px': widthPerDay}">
          </div>
          <div class="active" [ngStyle]="{'top.px': getActivePosition(), 'width.px': widthPerDay}">
          </div>
        </div>

        <div class="appointments">
          <div *ngFor="let displayAppo of getActiveDay().displayAppointments" [ngStyle]="getTaskStyle(displayAppo)"
            class="appointment">
            <ng-container *ngIf="displayAppo.date === getActiveDay().date && !getAppointment(displayAppo.appointmentid).isAllDay">
              <div class="appointmentTime">
                <div class="categoryColor" [ngStyle]="{'background-color': getAppointment(displayAppo.appointmentid).category.color}">
                </div>
                <div class="cardContent" (click)="openDetails(displayAppo)">
                  <div class="category" [ngStyle]="{'color': getAppointment(displayAppo.appointmentid).category.color}"
                    *ngIf="ShowCategory(displayAppo)">
                    {{ getAppointment(displayAppo.appointmentid).category.term }}
                  </div>
                  <div class="title">
                    {{ getAppointment(displayAppo.appointmentid).title }}
                  </div>
                  <div class="time">
                    {{ getFormattedTime(getAppointment(displayAppo.appointmentid).starttime) }} - {{ getFormattedTime(getAppointment(displayAppo.appointmentid).endtime) }}
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="displayAppo.date === getActiveDay().date && getAppointment(displayAppo.appointmentid).isAllDay">
              <div class="appointmentWholeDay">
                <div class="categoryColor" [ngStyle]="{'background-color': getAppointment(displayAppo.appointmentid).category.color}">
                </div>
                <div class="cardContent" (click)="openDetails(displayAppo)">
                  <div class="title">
                    {{ getAppointment(displayAppo.appointmentid).title }}
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
