<div class="settings">
  <div class="menu">
    <div class="item">
      <div class="icon">
        <i class="fa-regular fa-2x fa-circle-user fa-color-white"></i>
      </div>
      <h2 class="text">
        Account
      </h2>
    </div>
    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-2x fa-house-user fa-color-white"></i>
      </div>
      <h2 class="text">
        Family
      </h2>
    </div>
    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-2x fa-bell fa-color-white"></i>
      </div>
      <h2 class="text">
        Notifications
      </h2>
    </div>
    <div class="item">
      <div class="icon">
        <i class="fa-solid fa-2x fa-circle-question fa-color-white"></i>
      </div>
      <h2 class="text">
        Help
      </h2>
    </div>
  </div>
  <div class="content">

  </div>
</div>
