<div class="grid">

  <div class="user">
    <button mat-button class="mat-button info" (click)="viewAccountSettings = !viewAccountSettings">
      <i class="fa-solid fa-user"></i>
      Account/{{userdata?.username}}
    </button>
  </div>

  <div class="actionbuttons">
    <button mat-button class="mat-button pos" (click)="openCardCreate()">
      <i class="fa-solid fa-plus fa-lg"></i>
      Create todo
    </button>
    <button mat-button class="mat-button pos" (click)="openJsonuploader()">
      <i class="fa-solid fa-file-arrow-up"></i>
      Upload JSON
    </button>
    <button mat-button class="mat-button neg" (click)="showCheckedItems = !showCheckedItems">
      <div *ngIf="showCheckedItems">
        <i class="fa-solid fa-eye-slash"></i>
        Hide checked items
      </div>
      <div *ngIf="!showCheckedItems">
        <i class="fa-solid fa-eye"></i>
        Show checked items
      </div>
    </button>
  </div>

  <div class="datepicker">
    <div class="weekSelector">
      <app-weekselector (onDateSelected)="handleDateSelection($event)"></app-weekselector>
      <div *ngIf="loading" class="loader">
        <app-loader [size]="40" [colortype]="'primary'" [height100]="true"></app-loader>
      </div>
    </div>
  </div>

</div>

<ng-container *ngIf="!viewAccountSettings">
<div class="container">
  <div class="todoRow">
    <div *ngFor="let day of Todolist; let i = index"
      class="dayTasks"
      [id]="day.day + 'List'"
      cdkDropList
      [cdkDropListData]="day.tasks"
      [cdkDropListConnectedTo]="connectedLists"
      (cdkDropListDropped)="drop($event)">

      <div class="day">
        <div class="name withsubtitle">
          {{day.day}}
        </div>

        <p *ngIf="!showCheckedItems && getCheckItemsForDay(day) > 0" class="checkedCount">
          {{getCheckItemsForDay(day)}} checked items.
        </p>
      </div>

      <ng-container *ngFor="let task of day.tasks">
        <div class="todo" *ngIf="showCheckedItems || (!showCheckedItems && !task.checked)" cdkDrag [cdkDragDisabled]="isMobile()">

          <div class="card" (click)="openCardInfo(task)" [ngClass]="{'greyedoutTodo': task.checked}"
            *ngIf="showCheckedItems || (!showCheckedItems && !task.checked)">
            <div class="title">
              <h3>{{task.title}}</h3>
            </div>
            <div class="description">
              <p>{{task.description}}</p>
            </div>
          </div>

          <div class="placeholder" *cdkDragPlaceholder></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
</ng-container>

<ng-container *ngIf="viewAccountSettings">
  <app-account (onSyncWebcall)="getTodoTasks()"></app-account>
</ng-container>
