<div class="header">
  <div class="addTodo">
    <button mat-button class="mat-button info" disabled>
      <i class="fa-solid fa-user"></i>
      {{username}}
    </button>
    <button mat-button class="mat-button pos" (click)="logout()">
      <i class="fa-solid fa-right-from-bracket"></i>
      Logout
    </button>
    <button mat-button class="mat-button pos" (click)="openCardCreate()">
      <i class="fa-solid fa-plus fa-lg"></i>
      Create todo
    </button>
    <button mat-button class="mat-button pos" (click)="openJsonuploader()">
      <i class="fa-solid fa-file-arrow-up"></i>
      Upload JSON
    </button>
    <button mat-button class="mat-button neg" (click)="showCheckedItems = !showCheckedItems">
      <div *ngIf="showCheckedItems">
        <i class="fa-solid fa-eye-slash"></i>
        Hide checked items
      </div>
      <div *ngIf="!showCheckedItems">
        <i class="fa-solid fa-eye"></i>
        Show checked items
      </div>
    </button>
  </div>

  <div class="weekSelector">
    <div *ngIf="loading" class="loader">
      <app-loader [size]="40" [colortype]="'primary'" [height100]="true"></app-loader>
    </div>
    <app-weekselector (onDateSelected)="handleDateSelection($event)"></app-weekselector>
  </div>
</div>

<div class="container">
  <div class="todoRow">
    <div *ngFor="let day of Todolist; let i = index"
         [id]="day.day + 'List'"
         cdkDropList
         [cdkDropListData]="day.tasks"
         [cdkDropListConnectedTo]="connectedLists"
         class="dayTasks"
         (cdkDropListDropped)="drop($event)">

      <div class="day">
        <div class="name withsubtitle">
          {{day.day}}
        </div>

      <p *ngIf="!showCheckedItems && getCheckItemsForDay(day) > 0" class="checkedCount">
        {{getCheckItemsForDay(day)}} checked items.
      </p>
      </div>


      <div *ngFor="let task of day.tasks" cdkDrag [cdkDragDisabled]="isMobile()" class="todo">
        <ng-container *ngIf="showCheckedItems || (!showCheckedItems && !task.checked)">
          <div class="placeholder" *cdkDragPlaceholder></div>
          <mat-card class="card" (click)="openCardInfo(task)" [ngClass]="{'greyedoutTodo': task.checked}">
            <mat-card-header>
              <mat-card-title>{{task.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{task.description}}</p>
            </mat-card-content>
          </mat-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>
