.grid {
  display: grid;
  grid-template-areas:
    "actionbtns actionbtns user"
    "datepicker datepicker user";
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 3fr 5fr;

  margin-bottom: 1rem;
  border-bottom: 2px solid #ffffff;

  .user {
    grid-area: user;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
  }

  .actionbuttons {
    grid-area: actionbtns;
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }

  .datepicker {
    grid-area: datepicker;

    .weekSelector {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;

      .loader {
        margin: 10px 20px 0 0;
      }
    }
  }
}


@media (max-width: 1000px) {
  .grid{
    grid-template-areas:
      "user"
      "actionbtns"
      "datepicker";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    gap: 1rem;

    .user {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
      align-items: unset;
      justify-content: unset;
    }

    .actionbuttons {
      display: grid;
      justify-items: stretch;
      // grid template with 3 columns, 1fr 1fr 1fr until 500px, then 1fr 1fr
      grid-template-columns: repeat(auto-fit, minmax(191px, 1fr));
    }
  }
}

.todoRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
  gap: 0.75rem;

  .dayTasks {
    display: flex;
    flex-direction: column;
    background-color: #434447;
    padding: 0.5rem;
    border-radius: 5px;

    .day {
      padding: 6px 12px;
      min-width: 100px;
      text-align: center;
      background-color: #d6d6d6;

      .name{
        font-size: x-large;
      }

      .checkedCount{
        margin: 0;
      }
    }

    .placeholder {
      background: #424242;
      border: dotted 3px #999;
      min-height: 60px;
    }

    .todo {
      .card {
        margin-top: 0.5rem;
        max-width: 300px;
        background-color: #d6d6d6;
        cursor: pointer;

        p {
          font-size: small;
          margin: 0;
          white-space: pre-line;
        }

        mat-card-header {
          padding: 5px 8px 0;

          h3{
            margin: 0;
            font-weight: 600;
            font-size: medium;
          }
        }

        mat-card-content {
          padding: 4px 8px;
          text-align: left;
        }
      }
    }
  }
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

@media (max-width: 1000px) {
  .todoRow {
    flex-direction: column;
    gap: 1rem;

    .card {
      max-width: none !important;
    }
  }
}
